.nav-component {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 100;
}

.component {
    width: 80%;
    margin: auto;
    display: flex;
}

.navbar {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.logo img {
    background-color: transparent;
    width: 100px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu ul li {
    list-style-type: none;
    margin-left: 20px;
    text-decoration: none;
}

.menu ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #f2c102;
    font-weight: 600;
}

.search-bar {
    display: flex;
    align-items:center;
    margin-left: 20px;
}

.search-bar input {
    border: 1px solid #f2c102 ;
    padding: 10px;
    color: #f2c102;
    border-radius: 5px;
    background-color: white;
    width: 130px;
}

.search-bar input::placeholder {
    color: #f2c102;
    font-size: 12px;
}

.icon {
    margin-left: 10px;
    color: #f2c102;
}

.menu-icon {
    width: 30px;
}